div {
    border-bottom-style: solid;
    border-bottom-color: rgb(49, 120, 120);
    border-bottom-width: 5px;
    height: 100px;
}

.div-1 {
    border-top: dotted green 10px;
}

.div-3 {
    font-size: 3em;
}

#div-2 {
    border: dashed blue 8px;
}

#div-12 {}

.sazghvari-qveda-utzyveti-mwvane-5 {
    border-bottom: solid green 5px;
}

.texti-zoma-3 {
    font-size: 3em;
    border-bottom: solid blue 30px;
}